[Unit]
Description=Filebrowser
After=network.target

[Service]
ExecStart=/usr/sbin/filebrowser -d /erc/ccaa/filebrowser.db

[Install]
WantedBy=multi-user.target
